@model Pedido
<br/>
<br/>
<br/>
<div class="container marginTop1">

    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Cliente : <strong>@Model.Nome</strong>
            <p>Data do Pedido :  <strong>@Model.PedidoEnviado</strong>
            <p>Número do Pedido   : <strong>@Model.PedidoId</strong></p>
            <table class="table">
              <tr>
                <th></th>
                <th>Quantidade</th>
                <th>Jogo</th>
                <th>Preço</th>
              </tr>
              @foreach (var item in Model.PedidoItens)
               {
                 <tr>
                   <td><img src="@item.Jogo.ImagemUrl" width="100" height="180" /></td>
                   <td>@item.Quantidade</td>
                   <td>@item.Jogo.Nome</td>
                   <td>@item.Jogo.Preco</td>
                  </tr>
               }
            </table>
            <h4>Valor Total do Pedido: <strong>@(((decimal)ViewBag.TotalPedido).ToString("C2"))</strong></h4>
        </div>
    </div>
</div>
